# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db